.btn-logado {
    position: relative;
    cursor: pointer;
    height: 100%;
}

.dropdown-menu {
    position: absolute;
    top:100%;
    right: -20px;
    background: #222;
    border: 1px solid #222;
    border-radius: 4;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    z-index: 1000;
    min-width: 140px;
    padding: 10px 10px 10px 20px;
}
.user .btn-logar{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.user:hover .btn-logar{
    color: #f5a623;
}

.btn-ingressos {
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 1.1rem;
    border-bottom: 1px solid #333;
    transition: 0.5s all ease;
}

.btn-sair {
    width: 100%;
    /* padding: 8px 12px; */
    border: none;
    border-bottom: 1px solid #333;
    background: none;
    text-align: left;
    cursor: pointer;
    color: #777;
    font-size: 1.1rem;
    margin-top: 10px;
    transition: 0.5s all ease;
}

.btn-ingressos:hover,
.btn-sair:hover{
    border-bottom: 1px solid wheat;
    color: wheat;
}