.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
    /* background: #111 url('banner-pattern.png') repeat; */
    background-image: url('../../images/banner2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
    background-position: 50%;
}

/* .banner img{
    width: 1440px;
} */

.em-cartaz {
    padding: 2rem;
    text-align: center;
}

.em-cartaz h2 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.filmes {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    width: 80%;
    gap: 2rem;
}

.filme {
    background: #333;
    padding: 0.5rem;
    width: fit-content;
    height: fit-content;
    text-align: center;
    border-radius: 10px;
    transition: 1s all ease;
}

.banner-filme {
    height: fit-content;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filme:hover{
    background: #f5a623;
}

.banner-filme>img{
    width: 200px;
    height: 300px;
}

.filme button {
    background: #f5a623;
    border: none;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
}

.filme span {
    font-size: 0.8rem;
    color: #aaa;
}